*{
  --MuyOscuro: #000;
  --Oscuro: #5d1292;
  --Intermedio: #8e36ce;
  --Claro: #b46de7 ;
  --MuyClaro: #b18fc5;
}

.contenedor-principal-aplicaciones,
.titulo-aplicaciones,
.acordeon-aplicaciones{
  background-color: white;
}

.contenedor-oculto{
  margin: 10px 30px;
}

.contenedor-oculto .detalle{
  font-size: 0.9rem;
}

.sombreado{
  border: 0.125rem solid rgba(0, 0, 0, 0.075);
  border-radius: 7px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-custom{
  color:white;
  border-color:white;
  background-color: var(--Oscuro);
}

.btn-custom:hover{
  color:var(--Oscuro);
  border-color:var(--Oscuro);
  background-color: white;
}