*{  --primario: #03585b;
  --secundario: #02716a;
  --fondo: #7fbfb0;
  --adicional1: #f2b49e;
  --adicional2: #f29580;
}
.cabecera-contenedor{
  display: flex;
}

.perfil-contenedor{
  width: 150px;
  height: 150px;
}
.perfil{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 576px){
  .perfil{
    width: 70px;
  }
  .perfil-contenedor{
    width: 70px;
    height: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
  .perfil{
    width: 100px;
  }
  .perfil-contenedor{
    width: 100px;
    height: 100px;
  }
}