*{ 
  --MuyOscuro: #000;
  --Oscuro: #5d1292;
  --Intermedio: #8e36ce;
  --Claro: #b46de7 ;
  --MuyClaro: #b18fc5;
}

.contenedor-principal-cabecera{
  min-height: 250px;
}

.perfil{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.icono-contenedor{
  font-size: 30px;
}

.icono{
  color: whitesmoke;
}

.cabecera-titulo-principal,
.cabecera-titulo-secundario{
  font-family: "Montserrat";
}
