*{  
  --MuyOscuro: #000;
  --Oscuro: #5d1292;
  --Intermedio: #8e36ce;
  --Claro: #b46de7 ;
  --MuyClaro: #b18fc5;
}

.App{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.Seccion2,
.Seccion4{
  background-color: white;
}
.Seccion1,
.Seccion3,
.Seccion5{
  background-color: var(--Oscuro);
}


.Seccion1,
.Seccion2,
.Seccion3,
.Seccion4,
.Seccion5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 400px;
}

.Seccion2,
.Seccion4{
  flex-basis: 25%;
}

.Seccion3{
  flex-grow: 1;
}


.espaciado{
  margin: 16px 0;
}
.espaciado-lateral{
  margin-left: 8px;
  margin-right: 8px;
}
.sombreado{
  border: 0.125rem solid rgba(0, 0, 0, 0.075);
  border-radius: 7px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.contenedor-principal-cabecera,
.contenedor-principal-descripcion,
.contenedor-principal-aplicaciones,
.contenedor-principal-formulario{
  max-width: 75%;
  margin: auto;
  border: 1px solid var(--Oscuro);
  background-color: white;
  border-radius: 10px;
}

.contenedor-principal-carousel{
  max-width: 90%;
  margin: auto;
  border: 1px solid var(--Oscuro);
  background-color: white;
  border-radius: 10px;
}


.contenedor-principal-descripcion,
.contenedor-principal-aplicaciones,
.titulo-aplicaciones{
  color: whitesmoke;
  background-color: var(--Oscuro);
}

.contenedor-principal-cabecera,
.contenedor-principal-formulario{
  color: whitesmoke;
  background-color: var(--Intermedio);
}

.contenedor-principal-descripcion{
  margin-bottom: 30px;
  margin-top: 30px;
}

/*----------BREAKPOINTS----------*/

@media only screen and (min-width: 3000px) and (max-width: 4000px){
  
}

@media only screen and (min-width: 1024px) and (max-width: 3000px){

}

@media only screen and (min-width: 840px) and (max-width: 1024px){

}

@media only screen and (min-width: 480px) and (max-width: 840px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    width: 245px;
  }

  .perfil{
    margin-top: 20%;
    width: 90px;
    height: 90px;
  }
}

@media only screen and (min-width: 411px) and (max-width: 480px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    width: 185px;
  }

  .perfil{
    margin-top: 20%;
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 411px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    width: 110px;
  }

  .perfil{
    margin-top: 20%;
    width: 50px;
    height: 50px;
  }
}


/*
  superLargeDesktop: {
    // the naming can be any, depends on you.
    breakpoint: { max: 4000, min: 3000 },
    items: 7
  },
  desktop: {
    breakpoint: { max: 3000, min: 1024 },
    items: 6
  },
  desktopMini: {
    breakpoint: { max: 1024, min: 840 },
    items: 5
  },
  tabletBig: {
    breakpoint: { max: 840, min: 610 },
    items: 4
  },
  tablet: {
    breakpoint: { max: 610, min: 411 },
    items: 3
  },
  mobile: {
    breakpoint: { max: 411, min: 0 },
    items: 2
  }
*/

