*{  
  --MuyOscuro: #000;
  --Oscuro: #5d1292;
  --Intermedio: #8e36ce;
  --Claro: #b46de7 ;
  --MuyClaro: #b18fc5;
}

.App{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.Seccion2,
.Seccion4{
  background-color: white;
}
.Seccion1,
.Seccion3,
.Seccion5{
  background-color: var(--Oscuro);
}


.Seccion1,
.Seccion2,
.Seccion3,
.Seccion4,
.Seccion5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 400px;
}

.Seccion2,
.Seccion4{
  flex-basis: 25%;
}

.Seccion3{
  flex-grow: 1;
}


.espaciado{
  margin: 16px 0;
}
.espaciado-lateral{
  margin-left: 8px;
  margin-right: 8px;
}
.sombreado{
  border: 0.125rem solid rgba(0, 0, 0, 0.075);
  border-radius: 7px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.contenedor-principal-cabecera,
.contenedor-principal-descripcion,
.contenedor-principal-aplicaciones,
.contenedor-principal-formulario{
  max-width: 75%;
  margin: auto;
  border: 1px solid var(--Oscuro);
  background-color: white;
  border-radius: 10px;
}

.contenedor-principal-carousel{
  max-width: 90%;
  margin: auto;
  border: 1px solid var(--Oscuro);
  background-color: white;
  border-radius: 10px;
}


.contenedor-principal-descripcion,
.contenedor-principal-aplicaciones,
.titulo-aplicaciones{
  color: whitesmoke;
  background-color: var(--Oscuro);
}

.contenedor-principal-cabecera,
.contenedor-principal-formulario{
  color: whitesmoke;
  background-color: var(--Intermedio);
}

.contenedor-principal-descripcion{
  margin-bottom: 30px;
  margin-top: 30px;
}

/*----------BREAKPOINTS----------*/

.cabecera-titulo-principal{
  font-size: calc(1.375rem + 1.5vw);
}
.cabecera-titulo-secundario{
  font-size: calc(1.3rem + .1vw);
}

@media only screen and (min-width: 486px) and (max-width: 610px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    width: 230px;
  }

  .cabecera-titulo-principal{
    font-size: calc(1.2rem + 1.5vw);
  }
  .cabecera-titulo-secundario{
    font-size: calc(1rem + .1vw);
  }
  
  .perfil{
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 413px) and (max-width: 486px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    width: 185px;
  }

  .cabecera-titulo-principal{
    font-size: calc(1.2rem + 1.5vw);
  }
  .cabecera-titulo-secundario{
    font-size: calc(1rem + .1vw);
  }

  .icono{
    font-size: 1.1rem;
  }

  .perfil{
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 413px){
  .cabecera-titulo-principal,
  .cabecera-titulo-secundario{
    margin: 0 auto;
    width: 200px;
  }

  .cabecera-titulo-principal{
    font-size: calc(1.2rem + 1.5vw);
    margin-bottom: 12px;
  }
  .cabecera-titulo-secundario{
    font-size: calc(1rem + .1vw);
  }

  .icono{
    margin: 0 auto;
    font-size: 1rem;
  }

  .perfil{
    width: 80px;
    height: 80px;
  }

  .contenedor-principal-cabecera,
  .contenedor-principal-descripcion,
  .contenedor-principal-aplicaciones,
  .contenedor-principal-formulario{
    max-width: 95%;
  }
}

