*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primario: #03585b;
  --secundario: #02716a;
  --fondo: #7fbfb0;
  --adicional1: #f2b49e;
  --adicional2: #f29580;
}

html,
body{
  color:white;
  background-color: var(--fondo);
  font-family: Lato, sans-serif;
  color:var(--primario);
  margin-top: 40px;
}

.App{
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: auto;
}

/* Contenedor Aplicaciones */

.contenedor-aplicaciones{
  width: 100%;
  min-height: 200px;
  background-color: var(--primario);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid seashell;
  justify-content: center;
  align-items: center;
}